/* Add here all your CSS customizations */
.fotoPerfil{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

div:where(.swal2-container) {
    z-index: 10001 !important;
}

.vertical-align {
    vertical-align: middle;
}